body{
  font-family: 'Roboto', sans-serif;
}


.equal-height-width {
    padding-top: 30%;
    padding-bottom: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  /* .breadcrumb-item::after {
    content: ">";
    color: white;
    padding-left: 10px;
  } */

  a{
    text-decoration: none;
    color: black;
  }

  a:hover div {
    background-color: #f2f2f2;
    color: tomato;
  }

  .text-tomato{
    color: tomato;
  }

  .nav-item:hover ol{
    background-color: tomato;
    color: black;
  }

  .breadcrumb-item:hover a{
    /* background-color: color; */
    color: tomato;
  }

  .bg-whitesmoke{
    background-color: whitesmoke;
  }
  
  .height-100{
    height: 100%;
  }