body{
  font-family: 'Roboto', sans-serif;
}


.equal-height-width {
    padding-top: 30%;
    padding-bottom: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .breadcrumb-item::after {
    content: ">";
    color: white;
    padding-left: 10px;
  }

  a{
    text-decoration: none;
    color: black;
  }

  a:hover .equal-height-width {
    background-color: white; 
    color: tomato;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

  .text-tomato{
    color: tomato;
  }

  .bg-whitesmoke{
    background-color: whitesmoke;
  }

  .breadcumb .hover-item:hover{
    color: tomato;
  }
