body {
  font-family: "Roboto", sans-serif;
}

.equal-height-width {
  padding-top: 30%;
  padding-bottom: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.breadcrumb-item::after {
  content: ">";
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.col-sm-4 a {
  text-decoration: none;
  color: black;
}

.breadcrumb a{
  text-decoration: none;
  color: black;
}

a:hover .equal-height-width {
  background-color: white;
  color: tomato;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.text-tomato {
  color: tomato;
}

.bg-whitesmoke {
  background-color: whitesmoke;
}

.pl-5 {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-nav {
  width: 99%;
}
.nav-pills .nav-link {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px;
}

.nav-pills li{
  font-size: 18px;
}
.navbar-nav li:hover {
  background-color: whitesmoke;
}
.navbar-nav li:active {
  background-color: whitesmoke;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: whitesmoke !important;
  width: 100%;
}

.tab-pane p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

.tab-content h5 {
  margin-bottom: 30px;
}

.text-silver {
  color: #c0c0c0;
}

main {
  padding-top: 220px;
}

.tab-content {
  padding-left: 30px;
}
.scroll-div {
 
  scroll-behavior: smooth;
  position: fixed;
  width: 17%;
}

.scroll-div-1{
  scroll-behavior: smooth;
  position: fixed;
  width: 17%;
}
.scroll-div::-webkit-scrollbar {
  width: 2px;
}
.scroll-div-1::-webkit-scrollbar {
  width: 2px;
}

.scroll-div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.scroll-div-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scroll-div::-webkit-scrollbar-thumb {
  background-color: rgba(255, 99, 71, 1);
  outline: 1px solid rgba(255, 99, 71, 0.9);
  margin-left: 2px;
}
.scroll-div-1::-webkit-scrollbar-thumb {
  background-color: rgba(255, 99, 71, 1);
  outline: 1px solid rgba(255, 99, 71, 0.9);
  margin-left: 2px;
}

.breadcrumb a{
  font-size: 20px;
  color: white;
}

.breadcrumb:hover a{
  color: #c0c0c0;
}

footer{
  background-color: black;
  padding: 10px;
  width: 100%;
}

